

.download-section{
    background-color: #201747;
    padding-top: 5rem;
    .row{
        display: grid;
        grid-template-columns: 45% clamp(200px, 45%, 400px);
        align-items: center;
        grid-gap: 10%;
        justify-content: center;

        picture{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
            }
        }

        .heading-style-2{
            padding-bottom: 3rem;
            h2{
                color: #fff; 
                margin-bottom: 2rem;
                font-size: 32px;
                line-height: 32px;
                &:before{
                    background-color: #fff;
                    top:-44px;
                }
            }
        }

        .col-right{
            picture img{
                width: 200px;
            }
        }
    }


    @media (max-width:776px) {
        
        .row{
            grid-template-columns: auto;
            

        }
        .col-left{
            display: none;
        }
        .col-right{
            padding: 0px 10%;
        }

        .heading-style-2{
            h2 br{
                display: none;
            }
            
        }
    }
}

