

.feature-section{
    @include paddingY(5rem);


    .card-container{
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        @include marginY(2rem);

        .card{
            flex: 1;
            width: 100%;
            min-width: calc((100% / 3) - 22px);
            padding: 1rem;
            display: flex;
            border:1px solid #D9D9D9;

            .card-title{
                height: 52px;
                display: flex;
                align-items: center;
                color: $secondary_color;
                @include font-size(18px);
                font-weight: 400;
                text-transform: uppercase;
                
            }
            .card-body{
                @include paddingX(1rem);

                p{
                    @include font-size(16px);
                    font-weight: 100;
                    line-height: 25px;
                    color: $secondary_color;
                }
            }
        }
    }

    @media (max-width:920px) {
          .card-container{
            .card{
                min-width: calc((100% / 2) - 22px);
            }
          }  
    }
    @media (max-width:560px) {
          .card-container{
            .card{
                min-width: 100%;
            }
          }  
    }
    
}