.hero-section{
    background: $secondary_color;
    color: $white_color;
    min-height: 100vh;
    position: relative;
    //display: flex;
    // align-items: center;

    background-image: url("../images/banner/bg-shading.png");
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: bottom right;


    .hero-slider{
        height: 100%;
        .slider-content{
            
            height: 100%;
            
            .slider-body{
                height: 100vh;
                display: flex;
                align-items: center;
                padding-bottom: 3rem;
                .container{
                    width: 100%;
                    max-width: 80rem;
                    margin-left: unset;
                    transform: unset ;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }


                .slider-sub-heading{
                    
                    @include font-size(18px);
                    text-transform: uppercase;
                    color: $primary_color;
                    font-weight: 400;
                }

                .slider-title{
                    font-size: 4.4rem;
                    line-height: 5rem;
                    color: $white_color;
                    font-weight: 400;
                }

                .slider-sub-title{
                    @include font-size(20px);  
                    color: $white_color;
                    padding-right: 10%;
                }

                .btn-group{
                    .text-primary{
                        color: $secondary_color;
                        font-weight: 400;
                    }
                }
            }
        }


        .slick-arrow{
            position: absolute;
            bottom: 1rem;
            z-index: 10;
            transition: 0.5s;

            &:hover{
                transform: scale(1.2);
            }
        }

        .slick-dots{
            list-style-type: none;
            display: flex;
            position: absolute;
            z-index: 10;
            gap: 0.5rem;
            bottom: 1.3rem;
            left: calc(3.2rem + 6rem);
            button{
                border: 0px;
                background-color: $white_color;
                color: transparent;
                width: 13px;
                height: 13px;
                transition: height 0.5s;
                cursor: pointer;
            }

            li{
                display: flex;
                align-items: flex-end;
            }
            .slick-active{
                button{
                    height: 40px;
                    background-color: $primary_color;
                }
            }
        }

        .slick-arrow-right{
            left: calc(8rem  + 6rem);
        }
        .slick-arrow-left{
            left: 6rem;
        }

        @media (max-width: 1239px) {
            

            .slick-arrow-right{
                left: calc(8rem  + 1rem);
            }
            .slick-arrow-left{
                left: 1rem;
            }
            .slick-dots{
                left: calc(3.2rem + 1rem);
            }

            

        }

        @media (max-width: 992px) {
            .slider-sub-heading{
                    
                @include font-size(16px !important);
                line-height: 20px !important;
            }

            .slider-title{
                @include font-size(40px !important);
                max-width:700px ;
            }

            .slider-sub-title{
                @include font-size(16px !important);
                line-height: 20px !important;
            }
        }

        

    }

}
@media (max-height:400px) {
    .hero-section .hero-slider .slider-content .slider-body {
                height: 600px !important;
    }
}