.heading-style-1{
    text-align: center;
    max-width: 770px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;

    h2{
        @include font-size(pxtorem(46));
        font-weight: 400;
        color: $secondary_color;
    }      
    p{
        @include font-size(pxtorem(16));
        line-height: 25px;
        font-weight: 100;
        margin-top: 1rem;
        padding: 0px 5%;
    }  

    span{
        @include font-size(pxtorem(46));
        font-weight: 400;
        color: $primary_color;
    }
}

.offer-section{
    @include paddingY(5rem);
    
    .card-container{
        
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 20px;
        height: 400px;
        margin-top: 2rem;

        .card{
            flex: 1;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 30px;
            border: 1px solid #D9D9D9;
            padding: 2rem 1rem;
            transition: height 0.5s;
            height: 300px;
            background-color: #fff;

            .img-box{
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #D3D3D3;
                border-radius: 50%;
            }
            .card-body{
                .card-title{
                    @include font-size(24px);
                    font-weight: 400;
                    color: #060606;

                }
                p{
                    @include font-size(16px);
                    font-weight: 100;
                    line-height: 20px;
                    margin-top: 30px;
                }

                .btn{
                    margin-top: 30px;
                    display: none;
                }
            }

            &:hover, &.active{
                height: 400px;
                background-color: $secondary_color;
                color: $white_color;
                border-color: $secondary_color;
                .card-body{
                    .card-title{
                        color: $white_color;
                    }
                    .btn{
                        display: inline-block;
                    }
                }
            }
        }




        @media (max-width: 992px) {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            height: unset;
            .card{
                height: unset;
                max-width: 300px;
                
                .card-body{
                    .btn{
                        display: inline-block;
                    }
                }

                &:hover, &.active{
                    height: unset;
                }
            }
        }

        @media (max-width: 570px) {
            display: grid;
            grid-template-columns: auto;
            .card{
                max-width: unset;
            }
        }
    }
}

@media (max-width: 570px) {


    .heading-style-1{
        h2{
            @include font-size(2rem);
            span{
                @include font-size(2rem);
            }
        }
    }

}