.heading-style-2{
    text-align: left;
    max-width: 734px;
    width: 100%;
    
    h2{
        @include font-size(pxtorem(46));
        font-weight: 400;
        color: $secondary_color;
        position: relative;

        span{
            @include font-size(pxtorem(46));
            font-weight: 400;
            color: $primary_color;
        }

        &::before{
            content: " ";
            width: 120px;
            height: 120px;
            background-color: #0F213C;
            opacity: 0.1;
            position: absolute;
            display: block;
            border-radius: 50%;
            top: -80px;
            left: -50px; 
        }
    }      
    p{
        @include font-size(pxtorem(16));
        line-height: 25px;
        font-weight: 100;
        margin-top: 1rem;
        padding-right: 5%;
    }  
}


.process-section{
    .step-process-content{
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: 50% 50%;
        flex-wrap:wrap;
        
        
        
        .card-container{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 240px 240px;
            justify-content: flex-end;
            grid-template-areas: "step1 step2" "null step3" ;
            gap: 20px;
            

            .card{
                background-color: $secondary_color;
                color: $white_color;
                display: flex;
                align-items: center;
                .card-body{
                    padding: 2rem 1.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                
                    .card-title{
                        color: $white_color;
                        @include font-size(36px);
                    }
                    .card-sub-title{
                        color: $white_color;
                        @include font-size(24px);
                    }
                    p{
                        color: $white_color;
                        @include font-size(18px);
                        line-height: 20px;
                        font-weight: 100;
                    }
                }

                &:nth-child(1){
                    grid-area: step1;
                }
                &:nth-child(2){
                    grid-area: step2;
                }
                &:nth-child(3){
                    grid-area: step3;
                }
            }
        }

        .col-left{
            position: relative;

            .heading-style-2{
                padding-right: 5rem;
            }

            .follow-content{
                position: absolute;
                bottom: 0px;
                .follow-text{
                    @include font-size(clamp(26px, 4vw, 46px));
                    font-weight: 400;
                    color:$secondary_color;
                    display: flex;
                    align-items: center;
                    max-width: 400px;
                    position: relative;
                    gap: 20px;


                    &::after{
                        content: " ";
                        display: block;
                        height: 4px;
                        background-color: $primary_color;
                        width: 100%;
                    }

                    &::before{
                        content: " ";
                        display: block;
                        position: absolute;
                        right: 0px;
                        width: 20px;
                        height: 20px;
                        border-top: 4px solid $primary_color;
                        border-right: 4px solid $primary_color;
                        transform: rotate(45deg);
                        //background-color: $primary_color;
                    }
                }
                .follow-text-title{
                    @include font-size(clamp(56px, 8vw, 96px));
                    line-height: 100px;
                    font-weight: 400;
                    color: $secondary_color;
                    text-wrap: nowrap;
                    margin-top: 1rem;
                    span{
                        @include font-size(clamp(56px, 8vw, 96px));
                        line-height: 100px;
                        font-weight: 400;
                        color: $primary_color;
                    }
                }
            }
        }


        @media (max-width: 992px) {
            grid-template-columns: auto;

            .col-left{
                .follow-content{
                    position: relative;
                    margin-top: 2rem;

                    .follow-text{
                       
                        &::before{
                            display: none;
                        }
                    }

                    .follow-text-title{
                        @include font-size(pxtorem(46));
                        span{
                            @include font-size(pxtorem(46));
                        }
                    }

                }
            }

            .card-container{
                display: flex;
                margin-top: 4rem;
            }

        }

        @media (max-width: 570px) {


            .heading-style-2{
                h2{
                    @include font-size(2rem);
                    span{
                        @include font-size(2rem);
                    }
                }
            }

            .card-container{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .finance-calculator.row{
        display: grid;
        grid-template-columns: 50% 50%;
        border:5px solid #E9E9E9;
        margin-bottom: 5rem;


        .col-left{
            padding: 3rem;
            background-color: #fff;
            .finance-title{
                @include font-size(24px);
                font-weight: 400;
                color: $secondary_color;
            }

            .tab-list{
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                @include marginY(2rem);
                li{
                    flex:1;
                }

                .tab-link{
                    font-size: 14px;
                    font-weight: 300;
                    border: 1px solid #D8D8D8;
                    color: $secondary_color;
                    display: block;
                    padding: 24px;
                    text-align: center;
                    transition: 0.5s;
                    height: 62px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.active, &:hover{
                        border-color: $secondary_color;
                        color: $secondary_color;
                        font-weight: 300;
                    }
                }
            }

            .tab-content{
                .tab-iteam{
                    display: none;


                    .label-justify-content{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;


                        label{
                            font-size: 16px;
                            font-weight: 200;
                        }

                        .input-group{
                            display: flex;
                            align-items: center;
                            .form-control,span{
                                flex: 1;
                                display: block;
                                border: 1px solid #D8D8D8;
                                padding: 15px;
                                height: 42px;
                                font-size: 18px;
                                color: $secondary_color;
                                font-weight: 300;
                                &[type="number"]{
                                    width: 100px;
                                }
                            }
                        }

                        p{
                            color: #666666;
                            font-size: 14px;
                        }
                    }

                    .form-content{
                        
                    }

                    &.active{
                        display: block;
                    }

                    .wrapper{
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;
                        input[type="range"]{
                            width: 100%;
                        }
                    }

                    select{
                        color: #0F213C;
                        border: 0px;
                        border-bottom: 1px solid #0F213C;
                    }

                }
            }

        }

        .col-right{
            background-color: #E9E9E9;
            padding: 3rem 0px;

            .label-justify-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 1rem 3rem;
                border-bottom: 1px solid #DFDFDF;

                h3{
                    @include font-size(24px);
                    font-weight: 300;
                    
                }
                h2{
                    @include font-size(36px);
                    font-weight: 300;

                }
            }

            .msg-box-center{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                margin-top: 2rem;

                p{
                    font-size: 16px ;
                    color: #222222;
                    font-weight: 100;
                }
                b{
                    font-weight: 300;
                }
            }
        }

        @media (max-width:990px) {
            grid-template-columns: auto;

            .col-left{
                padding: 3rem 1rem;
            }
            .col-right{
                padding: 1rem 0rem;

                .label-justify-content{
                    padding: 1rem 0.5rem;

                    h3,h2{
                        @include font-size(20px);
                    }
                }
            }
        }
    }
}




@media (max-width:990px) {
    .process-section .step-process-content .col-left .follow-content .follow-text-title{
        text-wrap: wrap;
    }
}


.wrapper{
    .range{
        input[type="range"]{
            
            
        }
    }
}